name: Maven Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3.0.0
      with: 
        name: ConsoleCommands Artifact
        path: ./target/consolecommands-1.0-SNAPSHOT.jar
        if-no-files-found: warn
        retention-days: 90
      
